#spacer
{
    float: left;
    padding-left: 2vw;
    padding-right: 2vw;
}
body
{
    background-color: black;
}
#logo
{
    width: 10vw;
    height: 10vw;
    float: left;
}
#header
{
    text-align: center;
    height: auto;
    font-size: 3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: red;
    float: left;
    width: 70vw;
    
}
#profile
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    float: left;
    width: 10vw;
    text-align: center;
    padding-bottom: 1vw;
    color: white;
    border: outset;
    border-color: grey;
    border-width: 2px;
}
#navbar
{
    border: none;
}
#homenav
{
    padding-right: 5vw;
    margin-left: 13vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    font-weight: bold;

}
#shopnav
{
    padding-left: 8vw;
    padding-right: 6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}
#aboutnav
{
    padding-left: 6vw;
    padding-right: 8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}
#contactnav
{
    padding-left: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}
#collections
{
    margin-top: 3vw;
    text-align: center;
    
}
#collectionstext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    color: maroon;
}
#collectiontypes
{
    margin-top: 3vw;
    
}
#type
{
    max-width: 10vw;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    margin-left: 10vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: white;
    
}
.typeimg
{
    border-radius: 10px;
    align-self: center;
    max-width: 15vw;
    max-height: 10vw;
}
#testimony
{
    margin-top: 5vw;
    text-align: center;
    
}
#testimonytext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    color: maroon;
}
#custtestimony
{
    margin-top: 3vw;
    margin-left: 16vw;
}
#test
{
   
    margin-top: 3vw;
    max-width: 15vw;
    color: white;
    display: inline-block;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    margin-left: 2.5vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}
.typeimg
{
    align-self: center;
}
#impact
{
    margin-top: 3vw;
    text-align: center;
    
}
#impacttext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    color: maroon;
}
#impact1
{
    color: white;
    margin-top: 3vw;
    margin-left: 15vw;
    width: auto;
    float: left;
}
.impactimg
{
    float: left;
    border-radius: 10px;
}
.impacttext
{
    padding-top: 0vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    max-width: 15vw;
}
#impact2
{
    color: white;
    margin-top: 3vw;
    margin-left: 4vw;
    width: auto;
    float: left;
}
#connect
{
    
    text-align: center;
    
}
#connecttext
{
    color: maroon;
    margin-top: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}
.connectimg1
{
    border: solid;
    border-width: 1px;
    margin-top: 2vw;
    margin-left: 18vw;
    margin-right: 5vw;
    float: left;
    width: 9vw;
    height: 7vw;
}
.connectimg
{
    border: solid;
    border-width: 1px;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    float: left;
    width: 8vw;
    height: 8vw;
}
#foot
{
    display: block;
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    color: white;
}

