#spacer
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#logo
{
    border-style: solid;
    border-width: 5px;
    float: left;
    max-width: 100px;
    max-height: 100px;
}
#header
{
    border-style: solid;
    border-width: 5px;
    text-align: center;
    height: auto;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    float: left;
    width: 80%;
    
}
#profile
{
    border-style: solid;
    border-width: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    float: left;
    width: 120px;
    height: 100px;
    text-align: center;
}
#navbar
{
    border-style: solid;
    border-width: 5px;
}
.homenav
{
    margin-left: 250px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;

}
.shopnav
{
    padding-left: 200px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.aboutnav
{
    padding-left: 200px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.contactnav
{
    padding-left: 200px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#collections
{
    margin-top: 40px;
    text-align: center;
    
}
#collectionstext
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#collectiontypes
{
    margin-top: 40px;
    
}
#type
{
    max-width: 150px;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 150px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
.typeimg
{
    border-radius: 50%;
    align-self: center;
}
#testimony
{
    margin-top: 40px;
    text-align: center;
    
}
#testimonytext
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#custtestomony
{
    margin-top: 40px;
    
}
#test
{
    margin-top: 40px;
    max-width: 150px;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 250px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
.typeimg
{
    border-radius: 50%;
    align-self: center;
}
#impact
{
    margin-top: 40px;
    text-align: center;
    
}
#impacttext
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
#impact1
{
    border: solid;
    border-width: 5px;
    margin-top: 40px;
    margin-left: 250px;
    width: auto;
    float: left;
}
.impactimg
{
    float: left;
}
.impacttext
{
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    max-width: 250px;
}
#impact2
{
    border: solid;
    border-width: 5px;
    margin-top: 40px;
    margin-left: 20px;
    width: auto;
    float: left;
}
#connect
{
    
    text-align: center;
    
}
#connecttext
{
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.connectimg1
{
    border: solid;
    border-width: 5px;
    margin-top: 40px;
    margin-left: 250px;
    float: left;
}
.connectimg
{
    border: solid;
    border-width: 5px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
}
#foot
{
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

